<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.__USERNAME__.__INSTALLATION_NAME__</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>__APPDIR__/bin/start_idea_app.sh</string>
    <string>__INSTALLATION_NAME__</string>
  </array>

  <key>WorkingDirectory</key>
  <string>__APPDIR__</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>__HOMEDIR__/.rbenv/shims:__HOMEDIR__/.rbenv/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>RAILS_ENV</key>
    <string>production</string>
    <key>PORT</key>
    <string>__PORT__</string>
    <key>VOICE_ID_PORT</key>
    <string>__VOICE_ID_PORT__</string>
    <key>OCR_SERVICE_PORT</key>
    <string>__OCR_SERVICE_PORT__</string>
    <key>IDEA_APP_INSTALLATION_NAME</key>
    <string>__INSTALLATION_NAME__</string>
    <key>COMPOSE_PROJECT_NAME</key>
    <string>__INSTALLATION_NAME__</string>
    <key>SECRET_KEY_BASE</key>
    <string>__SECRET_KEY_BASE__</string>
  </dict>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key>
  <string>/tmp/__INSTALLATION_NAME__.out</string>
  <key>StandardErrorPath</key>
  <string>/tmp/__INSTALLATION_NAME__.err</string>
</dict>
</plist>
