<div class="form-container">
  <div class="form-container-header">
    <h2>Edit Template</h2>
    <p class="form-container-subtitle"><%= @template.name %></p>
  </div>

  <%= render 'form', template: @template %>
</div>
